:root{
    --mainColor: #0061FF;
    --secondaryColor: rgba(0, 97, 255, 0.24);

    --whiteColor: #FFFFFF;
    --smallWhiteColor: rgba(255, 255, 255, 0.24);

    --blackColor: #000000;

    --lightGey: #F5F5F5;
    --darkDrey: #1A1A1A;
}

& body{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    width: 100%;
    scroll-behavior: smooth;

    & .top{
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: 60rem;
        gap: 2rem;
        background: url("./ressources/images/fondMenu.jpg") center no-repeat, linear-gradient(0deg, rgba(0,0,0,0.9), rgba(0,0,0,0.9));
        background-size: cover;
        padding: 2rem;

        & header{
            position: fixed;
            top: 0;
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            height: 8rem;
            background: var(--whiteColor);
            padding: 0 1rem;
            z-index: 100;

            & .left{
                display: flex;
                align-items: center;
                justify-content: center;
                height: 90%;
                aspect-ratio: 16/9;

                & img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            & .right{
                display: flex;
                align-items: center;
                gap: 2rem;
                height: 100%;

                & .search{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    width: 32rem;
                    height: 80%;
                    border: 2px solid var(--mainColor);
                    border-radius: 8rem;
                    overflow: hidden;

                    & input{
                        width: 80%;
                        height: 100%;
                        border: none;
                        background-color: transparent;
                        color: var(--mainColor);

                        outline: none;
                        padding: 0 1rem;
                    }

                    & .find{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 20%;
                        height: 100%;
                        background-color: var(--whiteColor);
                        border: none;

                        & img{
                            height: 80%;
                            aspect-ratio: 4/4;
                            object-fit: cover;
                        }
                    }
                }

                & .openMenu{
                    display: none;
                    align-items: center;
                    justify-content: center;
                    height: 80%;
                    aspect-ratio: 4/3;
                    background-color: var(--mainColor);
                    border: none;
                    border-radius: .5rem;
                    transition: all .5s ease;
                }
            }
        }

        & .hero{
            position: relative;
            top: 9rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 2rem;
            width: 100%;

            & .heroText{
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 1rem;
                color: var(--whiteColor);
                font-size: 3rem;
                text-align: center;

                & h1{
                    font-size: 4rem;
                }
            }

            & p{
                background: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4));
                border-radius: .5rem;
                color: var(--whiteColor);
                font-size: xxx-large;
                text-align: center;
                text-shadow: 0 4px 4px rgba(0,0,0,0.25);
            }

            & .cta{
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 2rem;
                width: 100%;

                & a{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 24rem;
                    height: 8rem;
                    background-color: red;
                    border-radius: 4rem;
                    color: var(--whiteColor);
                    font-weight: bold;
                    text-decoration: none;
                }
                & .signUp{
                    background-color: var(--mainColor);
                }
                & .loginBtn{
                    background-color: var(--smallWhiteColor);
                    border: 2px solid var(--whiteColor);
                }
            }
        }
    }

    & main{
        position: relative;
        top: 4rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        width: 100%;

        & .popBook{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1rem;
            width: 100%;

            & .title{
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 100%;
                padding: 0 2rem;

                & h2{
                    font-size: 3rem;
                }

                & .more{
                    display: flex;
                    align-items: center;
                    gap: 0.2rem;
                    color: var(--mainColor);
                    font-size: large;

                    & img{
                        width: 2rem;
                        aspect-ratio: 4/4;
                    }
                }
            }

            & .screen{
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                height: 40rem;
                padding: 0 2rem;
                overflow: hidden;

                & ul{
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    gap: 1rem;
                    width: max-content;
                    height: 100%;
                    overflow: scroll hidden;
                    padding: 1rem;
                    scroll-behavior: smooth;

                    & li{
                        flex-shrink: 0;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        height: 100%;
                        aspect-ratio: 3/4;
                        border-radius: 2rem;
                        overflow: hidden;

                        & a{
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            justify-content: space-between;
                            width: 100%;
                            height: 100%;
                            text-decoration: none;

                            & .cover{
                                display: flex;
                                align-items: flex-start;
                                justify-content: flex-end;
                                width: 100%;
                                height: 80%;
                                background: url("./ressources/images/fondMenu.jpg") no-repeat center;
                                background-size: cover;
                                border-radius: 2rem;
                                padding: 1rem;

                                & .category{
                                    background: linear-gradient(180deg, rgba(255,255,255,0.08) 0%, rgba(255,255,255,0.8) 100%);
                                    border-radius: 0.5rem;
                                    padding: 0.5rem;

                                    & p{
                                        display: flex;
                                        flex-direction: column;
                                        align-items: flex-start;
                                        gap: 1rem;
                                        color: var(--whiteColor);
                                        font-size: larger;
                                        text-align: center;
                                        text-shadow: 0 0 4px rgba(0,0,0, 1);
                                    }
                                }
                            }

                            & .bookInfo{
                                display: flex;
                                flex-direction: column;
                                align-items: center;
                                justify-content: center;
                                gap: 0.5rem;
                                width: 100%;
                                height: 20%;
                                padding: 0.5rem;

                                & h2{
                                    color: var(--blackColor);
                                    text-align: center;
                                }

                                & h3{
                                    color: var(--blackColor);
                                    text-align: center;
                                    font-weight: lighter;
                                }
                            }
                        }
                    }
                }
            }

            & .btnSlider{
                align-self: flex-end;
                display: flex;
                gap: 2rem;
                padding: 0 2rem;

                & button{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 5rem;
                    aspect-ratio: 4/4;
                    background: var(--whiteColor);
                    border: 1px solid var(--mainColor);
                    border-radius: 50%;
                    transition: all 1s ease;

                    & img{
                        height: 80%;
                    }

                    &:hover{
                        background-color: var(--secondaryColor);
                        cursor: pointer;
                    }
                }
                & .left{
                    rotate: -180deg;
                }
            }
        }

        & .strength{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 1rem;
            width: 100%;

            & .pointStrength{
                display: flex;
                align-items: center;
                justify-content: flex-start;
                gap: 1rem;
                width: 100%;
                overflow: scroll hidden;
                padding: 4rem 1rem;
                scroll-behavior: smooth;

                & li{
                    position: relative;
                    flex-shrink: 0;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: flex-end;
                    gap: 2rem;
                    width: 24rem;
                    aspect-ratio: 4/4;
                    background: var(--blackColor);
                    border-radius: 1rem;
                    color: var(--whiteColor);
                    padding: 2rem 1rem;
                    text-align: center;

                    & h3{
                        font-size: xxx-large;
                    }

                    & img{
                        position: absolute;
                        top: -3rem;
                        width: 8rem;
                        aspect-ratio: 4/4;
                        background: var(--whiteColor);
                        border: 4px solid var(--mainColor);
                        border-radius: 50%;
                        object-fit: cover;
                    }
                }
            }

            & .paginator{
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 1rem;
                width: 100%;

                & li{
                    flex-shrink: 0;
                    width: 8rem;
                    height: 2rem;
                    border-radius: 2rem;
                    border: 4px solid var(--mainColor);
                }
                & .active{
                    background-color: var(--mainColor);
                }
            }
        }

        & .about{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1rem;
            width: 100%;

            & h2{
                color: var(--mainColor);
                font-size: 3rem;
                text-align: center;
            }

            & figure{
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                aspect-ratio: 16/9;

                & img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            & p{
                width: 100%;
                line-height: 3rem;
                text-align: center;
                padding: 0 1rem;
            }

            & .signUp{
                display: flex;
                align-items: center;
                justify-content: center;
                width: 40rem;
                height: 8rem;
                background-color: var(--mainColor);
                border-radius: 4rem;
                color: var(--whiteColor);
                font-weight: bold;
                font-size: xxx-large;
                text-decoration: none;
            }
        }

        & .citation{
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            justify-content: center;
            gap: 2rem;
            width: 100%;
            aspect-ratio: 16/9;
            background: url("./ressources/images/fondMenu.jpg") no-repeat center,  linear-gradient(0deg, rgba(0,0,0,0.8), rgba(0,0,0,0.8));
            background-size: cover;
            color: var(--whiteColor);
            padding: 0 4rem;
            text-align: center;

            & p{
                font-size: 4rem;
            }
        }

        & .function{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1rem;

            & h2{
                color: var(--mainColor);
                font-size: 4rem;
                text-align: center;
            }

            & ul{
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: 2rem;
                width: 100%;
                background: var(--secondaryColor);
                padding: 2rem;

                & li{
                    flex-shrink: 0;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 1rem;
                    width: 100%;
                    background: var(--whiteColor);
                    border-radius: 2rem;
                    color: var(--mainColor);
                    padding: 1rem;
                    text-align: center;

                    & img{
                        width: 5rem;
                        aspect-ratio: 4/4;
                    }

                    & h3{
                        font-size: xxx-large;
                    }

                    &:nth-child(1){
                        border-top-left-radius: 0;
                    }
                    &:nth-child(2){
                        border-top-right-radius: 0;
                    }
                    &:nth-child(3){
                        border-bottom-left-radius: 0;
                    }
                    &:nth-child(4){
                        border-bottom-right-radius: 0;
                    }
                }
            }
        }

        & .lastCta{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;
            gap: 1rem;
            width: 100%;
            background: url("./ressources/images/fondMenu.jpg") no-repeat center,  linear-gradient(0deg, rgba(0,0,0,0.8), rgba(0,0,0,0.8));
            background-size: cover;
            color: var(--whiteColor);
            padding: 2rem;
            text-align: center;

            & h2{
                color: var(--mainColor);
                font-size: 4rem;
            }

            & p{
                font-size: xxx-large;
            }

            & .cta{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 2rem;
                width: 100%;

                & a{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 40rem;
                    height: 8rem;
                    background-color: red;
                    border-radius: 4rem;
                    color: var(--whiteColor);
                    font-size: xxx-large;
                    font-weight: bold;
                    text-decoration: none;
                }
                & .signUp{
                    background-color: var(--mainColor);
                }
                & .loginBtn{
                    background-color: var(--smallWhiteColor);
                    border: 2px solid var(--whiteColor);
                }
            }
        }
    }
}