*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

:root{
    --mainColor: #0061FF;
    --secondaryColor: #36C3F5;
    --whiteColor:#ffff;
    --blackColor: #000000;
    --darkGreyColor: #757575;
    --lightGreyColor: #BDBDBD;
}

body {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 100%;
    height: 100vh;
    background-color: var(--secondaryColor);
    overflow: hidden;
    padding: 1rem;

    & aside{
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;
        width: 32%;
        height: 100%;
        background-color: var(--whiteColor);
        border-radius: 2rem;
        overflow: hidden;
        padding: 1rem;
        transition: all .5s ease;

        & .menuIcon{
            position: absolute;
            top: 1rem;
            right: 1rem;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 3rem;
            aspect-ratio: 4/4;
            background-color: var(--mainColor);
            border-radius: .5rem;

            & img{
                width: 98%;
                aspect-ratio: 4/4;
                object-fit: cover;
            }
        }

        & .profile{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 1rem;
            width: 100%;

            & .photo{
                display: flex;
                align-items: center;
                justify-content: center;
                width: 12rem;
                aspect-ratio: 4/4;
                background-color: var(--mainColor);
                border-radius: 50%;
                padding: 1rem;

                & img{
                    width: 100%;
                    aspect-ratio: 4/4;
                    border-radius: 50%;
                    object-fit: contain;
                }
            }

            & .info{
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: .5rem;

                & h1{
                    font-size: x-large;
                }

                & .goProfile{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 14rem;
                    background-color: var(--mainColor);
                    border-radius: 2rem;
                    color: var(--whiteColor);
                    font-size: large;
                    font-weight: bold;
                    padding: .5rem 0;
                    text-decoration: none;
                }
            }
        }

        & .separator{
            position: relative;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;

            & hr{
                position: absolute;
                top: 50%;
                width: 100%;
                height: .2rem;
                background-color: var(--mainColor);
                border-radius: 2rem;
                transform: translateY(-50%);
                z-index: 0;
            }

            & .point{
                display: flex;
                align-items: center;
                justify-content: center;
                width: 1rem;
                aspect-ratio: 4/4;
                background-color: var(--mainColor);
                border-radius: 50%;
                z-index: 2;
            }
        }

        & .menu{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: .5rem;

            & h2{
                color: var(--mainColor);
                font-size: xx-large;
            }

            & .navLink{
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 1rem;
                width: 100%;
                list-style: none;

                & li{
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    width: 100%;

                    & a{
                        display: flex;
                        align-items: center;
                        gap: .5rem;
                        color: var(--secondaryColor);
                        font-size: larger;
                        font-weight: 570;
                        text-align: left;
                        text-decoration: none;
                        transition: all .5s ease;

                        &:hover{
                            color: var(--mainColor);
                            font-weight: bold;
                        }
                    }

                    &.active{

                        & a{
                            color: var(--mainColor);
                            font-size: x-large;
                            font-weight: bolder;
                        }
                    }
                }
            }
        }

        & footer{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 12rem;
            background-color: var(--secondaryColor);
            border-radius: 2rem;
            color: var(--whiteColor);
        }
    }

    & main{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;
        width: calc(100% - 6rem);
        height: 100%;
        background-color: var(--whiteColor);
        border-radius: 2rem;
        overflow: hidden;
        padding: 1rem;

        & header{
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            height: 5rem;

            & .logoLink{
                display: flex;
                align-items: flex-start;
                justify-content: flex-start;
                height: 90%;
                aspect-ratio: 16/9;

                & img{
                    height: 100%;
                    aspect-ratio: 16/9;
                    object-fit: cover;
                }
            }

            & .titleFrame{
                color: var(--mainColor);
                text-align: right;
            }
        }

        & .mainContent{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: calc(100% - 5rem);

            & .updateAccount{
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 2rem;
                width: 40rem;
                padding: 2rem;

                & .put{
                    position: relative;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    width: 100%;
                    height: 4rem;

                    & label{
                        position: absolute;
                        top: -.5rem;
                        left: 1rem;
                        width: max-content;
                        background-color: var(--whiteColor);
                        padding: 0 .5rem;
                    }

                    & input{
                        display: flex;
                        align-items: center;
                        width: 100%;
                        height: 100%;
                        background-color: var(--whiteColor);
                        border: 1px solid var(--darkGreyColor);
                        border-radius: .5rem;
                        color: var(--mainColor);
                        font-size: large;
                        font-weight: 570;
                        outline: none;
                        padding-left: 2rem;
                    }

                    & figure{
                        position: absolute;
                        top: 50%;
                        right: 1rem;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        height: 72%;
                        aspect-ratio: 4/4;
                        background-color: var(--secondaryColor);
                        border-radius: 2rem;
                        transform: translateY(-50%);

                        & img{
                            width: 90%;
                            height: 90%;
                            object-fit: cover;
                        }
                    }
                }

                & .remind{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    width: 100%;

                    & .check{
                        display: flex;
                        align-items: center;
                        gap: .5rem;
                    }

                    & .forget{
                        color: var(--secondaryColor);
                        text-decoration: none;
                        transition: all .5s ease;

                        &:hover{
                            color: var(--mainColor);
                            font-weight: bold;
                        }
                    }
                }

                & .ctaZone{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 2rem;
                    width: 100%;

                    & .upCta{
                        position: relative;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        width: 100%;

                        & hr{
                            width: 100%;
                            height: .1rem;
                            background-color: var(--blackColor);
                            border: none;
                            z-index: 0;
                        }

                        & p{
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            width: max-content;
                            background-color: var(--whiteColor);
                            padding: 0 .5rem;
                            transform: translate(-50%, -50%);
                            z-index: 2;
                        }
                    }
                }

                & .oderConnect{
                    display: flex;
                    align-items: center;
                    gap: 8rem;
                    list-style: none;

                    & li{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 4rem;
                        aspect-ratio: 4/4;
                        background-color: var(--secondaryColor);
                        border-radius: 50%;
                        transition: all .5s ease;

                        & img{
                            width: 72%;
                            aspect-ratio: 4/4;
                        }

                        &:hover{
                            background-color: var(--mainColor);
                            cursor: pointer;
                        }
                    }
                }

                & .go{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 100%;
                    background-color: var(--mainColor);
                    border: none;
                    border-radius: 4rem;
                    color: var(--whiteColor);
                    cursor: pointer;
                    font-size: larger;
                    font-weight: bold;
                    padding: 1rem 0;
                }
            }
        }
    }
}

/*RESPONSIVE UP TO LAPTOP SCREEN------------------------*/
@media (max-width : 1280px) {
    body{

        & aside{
            font-size: small;

            & .menuIcon{
                right: .5rem;
                width: 2rem;
            }

            & .profile{

                & .info{

                    & h1{
                        font-size: x-large;
                    }
                }
            }

            & .menu{

                & h2{
                    font-size: x-large;
                }
            }
        }

        & main{

        }
    }
}
