:root{
    --mainColor: #0061FF;
    --secondaryColor: rgba(0, 97, 255, 0.24);

    --whiteColor: #FFFFFF;
    --smallWhiteColor: rgba(255, 255, 255, 0.24);

    --blackColor: #000000;

    --lightGey: #F5F5F5;
    --darkDrey: #1A1A1A;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
    width: 100%;
    font-size: larger;

    & .menu{
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        gap: 2rem;
        width: 100%;
        height: 100dvh;
        background-color: var(--whiteColor);
        overflow: hidden;
        transition: all 1s ease;
        transform: translateX(-100%);
        z-index: 100;

        & .top{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            height: 40dvh;
            background: url("../ressources/images/fondMenu.jpg") no-repeat center;
            background-size: cover;
            padding: 2rem;

            & .menuHead{
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 100%;

                & a{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 8rem;
                    aspect-ratio: 16/9;
                    text-decoration: none;

                    & img{
                        width: 100%;
                    }
                }

                & button{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 8rem;
                    aspect-ratio: 4/4;
                    background-color: var(--smallWhiteColor);
                    border: none;
                    border-radius: 2rem;
                    transition: all 1s ease;

                    & img{
                        width: 90%;
                    }

                    &:hover{
                        background-color: var(--mainColor);
                    }
                }
            }

            & .profile{
                display: flex;
                align-items: center;
                gap: 1rem;
                width: 100%;
                height: 12rem;
                background: linear-gradient(180deg, rgba(255,255,255,0.08) 0%, rgba(255,255,255,0.8) 100%);
                border-radius: 2rem;
                padding: 1rem;
                text-decoration: none;

                & .initial{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 100%;
                    aspect-ratio: 4/4;
                    border: 8px solid var(--mainColor);
                    border-radius: 50%;
                    color: var(--whiteColor);
                    text-align: center;

                    & p{
                        font-size: 5rem;
                        font-weight: bold;
                    }
                }

                & .info{
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 1rem;
                    width: 100%;
                    color: var(--whiteColor);
                    text-shadow: 0 0 4px rgba(0,0,0,0.8);

                    & p, & b{
                        width: 100%;
                        font-size: xxx-large;
                    }
                }
            }
        }

        & nav{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 4rem;
            width: 100%;
            padding: 0 2rem;

            & a{
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 100%;
                height: 8rem;
                background: linear-gradient(180deg, rgba(255,255,255,0.08) 0%, rgba(6,89,255,0.2) 100%);
                border-radius: 2rem;
                padding: 0.5rem;
                text-decoration: none;
                transition: all 1s ease;

                & p{
                    font-size: xxx-large;
                }
            }
            & .notify, & .borrows{
                position: relative;

                & b{
                    position: absolute;
                    top: -1.5rem;
                    right: 0;
                    border: 0.25rem solid var(--secondaryColor);
                    border-radius: 2rem;
                    padding: 1rem 2rem;
                }
            }
        }

        & .theme{
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            padding: 0 2rem;

            & p{
                display: flex;
                align-items: center;
                gap: 0.5rem;
                font-size: xxx-large;
            }

            & .switch{
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 32%;
                height: 6rem;
                background-color: var(--secondaryColor);
                border-radius: 4rem;
                overflow: hidden;

                & img{
                    height: 100%;
                    aspect-ratio: 4/4;
                    border-radius: 50%;

                }
                & .active{
                    background-color: var(--blackColor);
                }
            }
        }

        & footer{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
        }

    }
    & .active{
        transform: translateX(0);
    }

    & header{
        position: fixed;
        top: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: 8rem;
        background: var(--whiteColor);
        padding: 0 1rem;
        z-index: 90;

        & .left{
            display: flex;
            align-items: center;
            justify-content: center;
            height: 90%;
            aspect-ratio: 16/9;

            & img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        & .right{
            display: flex;
            align-items: center;
            gap: 2rem;
            height: 100%;

            & .search{
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 32rem;
                height: 80%;
                border: 4px solid var(--mainColor);
                border-radius: 8rem;
                overflow: hidden;

                & input{
                    width: 80%;
                    height: 100%;
                    border: none;
                    background-color: transparent;
                    color: var(--mainColor);
                    font-weight: bolder;
                    outline: none;
                    padding: 0 1rem;
                }

                & .find{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 20%;
                    height: 100%;
                    background-color: var(--whiteColor);
                    border: none;

                    & img{
                        height: 80%;
                        aspect-ratio: 4/4;
                        object-fit: cover;
                    }
                }
            }

            & .openMenu{
                display: flex;
                align-items: center;
                justify-content: center;
                height: 80%;
                aspect-ratio: 4/3;
                background-color: var(--mainColor);
                border: none;
                border-radius: .5rem;
                transition: all .5s ease;
            }
        }
    }

    & main {
        position: relative;
        top: 5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        width: 100%;

        & .top{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: .5rem;
            width: 100%;
            aspect-ratio: 16/9;
            background-color: var(--mainColor);

            & .hero{
                color: var(--whiteColor);

                & p, & h1{
                    font-size: 8rem;
                }
                & h1{
                    padding-left: 8rem;
                }
            }
        }

        & .info{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: .5rem;
            width: 100%;
            padding: 0 1rem;

            & h2{
                color: var(--mainColor);
                font-size: 4rem;
            }

            & p{
                width: 100%;
                font-size: xxx-large;
                text-align: center;
            }
        }

        & .chooseCard{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1rem;
            width: 100%;
            padding: 2rem 0;

            & .put{
                display: flex;
                align-items: flex-start;
                justify-content: flex-start;
                gap: 4rem;
                width: 100%;
                overflow: scroll hidden;
                scroll-behavior: smooth;
                padding: 2rem;

                & .standardCard, & .customCard, & .vipCard{
                    flex-shrink: 0;
                    width: 70%;
                    border-right: 2rem;

                    & input{
                        scale: 4;
                    }

                    & label{
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: space-between;
                        gap: 2rem;
                        width: 100%;
                        height: 100%;
                        background: linear-gradient(180deg, rgba(255, 255, 255, 0.08) 0%, rgba(6, 90, 255, 0.2) 100%);
                        border: 1px solid var(--mainColor);
                        border-radius: 2rem;
                        padding: 2rem;

                        & .topCard {
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            width: 100%;

                            & p, & b{
                                color: var(--mainColor);
                                font-size: 4rem;
                            }
                        }

                        & .middle{
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            width: 100%;

                            & .msg{
                                display: flex;
                                flex-direction: column;
                                align-items: flex-start;
                                gap: .1rem;

                                & h3, & p{
                                    font-size: 4rem;
                                }
                                & p{
                                    padding-left: 8rem;
                                }
                            }
                        }

                        & .bottom{
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            width: 100%;
                            height: 6rem;
                            background-color: var(--secondaryColor);
                            border-radius: 8rem;
                            color: var(--blackColor);
                            font-weight: bolder;
                            font-size: xxx-large;
                            letter-spacing: 1.2rem;
                        }
                    }
                }
            }

            & .ok{
                display: flex;
                align-items: center;
                justify-content: center;
                width: 40rem;
                height: 8rem;
                background-color: var(--mainColor);
                border: none;
                border-radius: 2rem;
                color: var(--whiteColor);
                cursor: pointer;
                font-weight: bolder;
                font-size: xxx-large;
                letter-spacing: 1.2rem;
            }
        }
    }
}