* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: small;
}

:root {
  --mainColor: #0061ff;
  --secondaryColor: #36c3f5;
  --whiteColor: #ffff;
  --blackColor: #000000;
  --darkGreyColor: #757575;
  --lightGreyColor: #bdbdbd;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  width: 100%;
  height: 100vh;

  & .well {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  & .signIn {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    width: 32%;
    padding: 2rem;

    & .put {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      height: 4rem;

      & label {
        position: absolute;
        top: -0.5rem;
        left: 1rem;
        width: max-content;
        background-color: var(--whiteColor);
        padding: 0 0.5rem;
      }

      & input {
        display: flex;
        align-items: center;
        width: 100%;
        height: 100%;
        background-color: var(--whiteColor);
        border: 1px solid var(--darkGreyColor);
        border-radius: 0.5rem;
        color: var(--mainColor);
        font-size: large;
        font-weight: 570;
        outline: none;
        padding-left: 2rem;
      }

      & figure {
        position: absolute;
        top: 50%;
        right: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 72%;
        aspect-ratio: 4/4;
        background-color: var(--secondaryColor);
        border-radius: 2rem;
        transform: translateY(-50%);

        & img {
          width: 90%;
          height: 90%;
          object-fit: cover;
        }
      }
    }

    & .remind {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;

      & .check {
        display: flex;
        align-items: center;
        gap: 0.5rem;
      }

      & .forget {
        color: var(--secondaryColor);
        text-decoration: none;
        transition: all 0.5s ease;

        &:hover {
          color: var(--mainColor);
          font-weight: bold;
        }
      }
    }

    & .ctaZone {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 2rem;
      width: 100%;

      & .upCta {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;

        & hr {
          width: 100%;
          height: 0.1rem;
          background-color: var(--blackColor);
          border: none;
          z-index: 0;
        }

        & p {
          position: absolute;
          top: 50%;
          left: 50%;
          width: max-content;
          background-color: var(--whiteColor);
          padding: 0 0.5rem;
          transform: translate(-50%, -50%);
          z-index: 2;
        }
      }
    }

    & .oderConnect {
      display: flex;
      align-items: center;
      gap: 8rem;
      list-style: none;

      & li {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 4rem;
        aspect-ratio: 4/4;
        background-color: var(--secondaryColor);
        border-radius: 50%;
        transition: all 0.5s ease;

        & img {
          width: 72%;
          aspect-ratio: 4/4;
        }

        &:hover {
          background-color: var(--mainColor);
          cursor: pointer;
        }
      }
    }

    & .go {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      background-color: var(--mainColor);
      border: none;
      border-radius: 4rem;
      color: var(--whiteColor);
      cursor: pointer;
      font-size: larger;
      font-weight: bold;
      padding: 1rem 0;
    }
  }
}

/* RESPONSIVE DESIGN UP TO LAPTOP VERSION */
@media (max-width: 1024px) {
  body {
    gap: 1rem;
    padding: 1rem 0;

    & .well {
      gap: 0;

      & .logo {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 6rem;
        aspect-ratio: 16/9;

        & .logoIcon {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }

    & .signIn {
      gap: 1rem;
      width: 40%;
      padding: 0.5rem 0;

      & .put {
        width: 100%;
        height: 3rem;

        & label {
          padding: 0 0.5rem;
        }

        & input {
          font-size: small;
        }

        & figure {

          & img {
            width: 90%;
            height: 90%;
            object-fit: cover;
          }
        }
      }

      & .remind {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;

        & .check {
          display: flex;
          align-items: center;
          gap: 0.5rem;
        }

        & .forget {
          color: var(--secondaryColor);
          text-decoration: none;
          transition: all 0.5s ease;

          &:hover {
            color: var(--mainColor);
            font-weight: bold;
          }
        }
      }

      & .ctaZone {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        width: 100%;
      }

      & .oderConnect {

        & li {
          width: 2.5rem;
        }
      }

      & .go {
        font-size: small;
        padding: 1rem 0;
      }
    }
  }
}